/* Header */
.navbar-fixed-top {
  padding: 10px !important;
}

#head-top {
  padding:24px 10px;
  background-color: #252e30;
  backface-visibility: hidden;

  transition: padding 0.5s ease;
}

#head-top  ul li a{
  color:#0a0a0a;
  transition: color 0.5s ease;
  background-color: transparent;
  border-color: transparent;
}

#head-top  ul li a:hover {
  color:#a69443;
  background-color: transparent;
  background-color: transparent;
  border-color: transparent;
}

#head-top  .navbar-brand {
  padding: 15px 15px 15px 0;
}

#head-top .nav .open>a, #head-top .nav .open>a:hover, #head-top  .nav .open>a:focus {
background-color: transparent;
border-color: transparent;
}


/*
  Responsive css

  */
   /* //Extra small devices (portrait phones, less than 576px) */
   @media (max-width: 575px) {  }

   /* // Small devices (landscape phones, 576px and up) */
   @media (min-width: 576px) and (max-width: 767px) { }

   /* // Medium devices (tablets, 768px and up) */
   @media (min-width: 768px) and (max-width: 991px) { }

   /* // Large devices (desktops, 992px and up) */
   @media (min-width: 992px) and (max-width: 1199px) {  }

   /* // Extra large devices (large desktops, 1200px and up) */
   @media (min-width: 1200px) { }
