<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top bg-light" data-spy="affix" data-offset-top="10" id="head-top" >

  <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav ml-auto " >
                <li class="nav-item active" >
                   <a class="nav-link" id="n1" [routerLink]="['/']" [routerLinkActive]="['active']">Home </a>
                 </li>
                 <li class="nav-item" >
                    <a class="nav-link " id="n2" [routerLink]="['about']" [routerLinkActive]="['active']">About Us </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link "  id="n3" [routerLink]="['sermons']" [routerLinkActive]="['active']">Sermons </a>
                  </li>
                  <li class="nav-item" >
                     <a class="nav-link " id="n4" [routerLink]="['events']" [routerLinkActive]="['active']">Events</a>
                  </li>
                  <li class="nav-item" >
                     <a class="nav-link " id="n5" [routerLink]="['ministries']" [routerLinkActive]="['active']">Ministries </a>
                  </li>
                   <li class="nav-item" >
                     <a class="nav-link " id="n6" [routerLink]="['donations']" [routerLinkActive]="['active']">Donations</a>
                   </li>
            </ul>
        </div>
      </div>

  </div>

    </nav>
