
<div class="footer-bottom">
<div class="container">
  <div class="row">
    <!-- first col -->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 pull-left">
 <div class="footer-box">
   <h4>Logo</h4>
  <span class="copyright">my website &copy; 2017, All Right Reserved Privacy Policy</span>
  <h5><small>Designed & Developed by<span style="color: red">Sharbel Chris</span></small></h5>
 </div>
    </div>
    <!-- second col -->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">
     <div class="footer-box">
      <h4>Contact</h4>
      <address>
     <p>  The Church Branch, <br>
      123 Lorem Ipsum Avenue, New York United States, 012345</p>
        <ul>
          <li><i class="fa fa-phone fa-2x"></i> 01234567890</li>
          <li><i class="fa fa-print fa-2x"></i> 01234567890</li>
          <li><i class="fa fa-envelope-o fa-2x"></i> info@prayer.com</li>
          <li><i class="fa fa-skype fa-2x"></i> 01234567890</li>
          <li><i class="fa fa-whatsapp fa-2x"></i>01234567890</li>
        </ul>
      </address>
     </div>

    </div>
           <!-- third col -->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 social pull-right">
        <h4>Connect</h4>
        <div class="connect">
            <ul >
                <li  ><a href><i class="fa fa-twitter fa-2x" ></i></a></li>
                <li ><a href><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href><i class="fa fa-google-plus fa-2x"></i></a></li>
                <li><a href><i class="fa fa-instagram fa-2x"></i></a></li>
                <li><a href><i class="fa fa-skype fa-2x"></i></a></li>
              </ul>
        </div>

        </div>
  </div>
</div>
</div>
