
<div class="footer-bottom">
<div class="container">
  <div class="row">
    <!-- first col -->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 pull-left">
<span class="copyright"> Copyright &copy; my website 2017, All Right Reserved Privacy Policy</span>
<h5><small>Designed by <span style="color: red">Sharbel Chris</span></small></h5>
    </div>
    <!-- second col -->
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4">

      </div>
           <!-- third col -->
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xs-4 social pull-right">
        <ul>
          <li><a href><i class="fa fa-twitter"></i></a></li>
          <li><a href><i class="fa fa-facebook"></i></a></li>
          <li><a href><i class="fa fa-google-plus"></i></a></li>
          <li><a href><i class="fa fa-instagram"></i></a></li>
        </ul>
        </div>
  </div>
</div>
</div>
