
<div class="footer-bottom">
<div class="container">
  <div class="row">
    <!-- first col -->
    <div class="col-12 col-sm-12 col-md-12  col-xs-12 col-lg-4  pull-left">
 <div class="footer-box">
   <h4>Logo</h4>
  <p><span class="copyright">my website &copy; 2017, All Right Reserved Privacy Policy</span></p>
  <h5><small>Designed & Developed by<span style="color: red">Sharbel Chris</span></small></h5>
 </div>
    </div>
    <!-- second col -->
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-12">
     <div class="footer-box">
      <h4>Contact</h4>
      <address>
     <p>  The Church Branch, <br>
      123 Lorem Ipsum Avenue, New York United States, 012345</p>

      </address>
     </div>

    </div>
           <!-- third col -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-12 social pull-right">
        <h4 style="text-align:center">Connect With Us</h4>
        <div class="connect">
            <ul >
                <li  ><a href><i class="fab fa-twitter fa-3x"></i></a></li>
                <li ><a href><i class="fab fa-facebook fa-3x"></i></a></li>
                <li><a href><i class="fab fa-google-plus fa-3x"></i></a></li>
                <li><a href><i class="fab fa-instagram fa-3x"></i></a></li>
                <li><a href><i class="fab fa-skype fa-3x"></i></a></li>
              </ul>
        </div>

        </div>
  </div>
</div>
</div>
