/* header */



  .carousel-item {
      height: 90vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      background-size: cover;
      align-items: center;
      width: 100%;
      transition-property: transform , -webkit-transform;
      transition-duration: 1s 1s;
      transition-timing-function: ease ease;
      transition-delay: initial initial;
      backface-visibility: hidden;
      perspective: 1000px;
  }

  .carousel-item active {
      display: block;
  }

  .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
  }

  .header {
      margin: 3em 0;
      text-align: center;
  }
   .section-title {
       text-align: center;
       margin-bottom: 40px;
       padding-left: 10px;
       word-wrap: break-word;
   }

  .about-section {
      margin-bottom: 35px;
      padding-top: 40px;
  }

  .about-block {
      margin-bottom: 10px;
  }

  .about-section .block {
      text-align: justify-all;
  }
  img {
      vertical-align: middle;
  }
  .about-section .block img {
      margin-bottom: 30px;
  }

  .divider-shape {
      margin-top: 30px;
      margin-bottom: 60px;
  }

  .sermons{
   margin-bottom: 40px;
   margin-top: 40px;
  }
  .mb30 {
      margin-bottom: 30px;
  }

  #description {
      text-align: center;
      padding-left: 100px;


  }

.latest-message {
	margin-bottom: 100px;
}
.message-section {
  margin-bottom: 60px;
  text-align: center;
}

.outline-small {
    padding: 4px 14px;
    border: 2px solid #d6d3d2;
    background-color: #fff;
    color: #696362;
    text-transform: uppercase;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
    font-size: 14px;
}

a.btn.outline-btn.outline-btn-red {
  border: 2px solid #ab4f42;
  color: #ab4f42;
  margin-right: 10px;
}

a.btn.outline-btn.outline-btn-red {
  text-decoration: none;
}

.outline-btn-red {
  border: 2px solid #ab4f42;
  color: #ab4f42;
  margin-right: 10px;
}

.outline-btn {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}


a.more-link {
  font-size: 16px;
  text-decoration: underline;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1);
}

/* About section */


.unit {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 1 100%;
  -webkit-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.unit-body {
  -ms-flex: 0 1 auto;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
}

.unit-left, .unit-right{
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
}
.unit-horizontal {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.unit-horizontal > .unit-left + .unit-right,
.unit-horizontal > .unit-left + .unit-body {
  padding-top: 0;
  padding-left: 30px;
}
.unit-horizontal > .unit-body + .unit-right {
  padding-top: 0;
  padding-left: 30px;
}
.product {
  position: relative;
  padding-bottom: 40px;
  transition: none;
}
.product, .product:active, .product:focus, .product:hover {
  color: #803b3d;
}
.product-header {
  padding: 31px 0 22px;
}

.product-header .unit-body > * {
  margin-top: -8px;
  max-width: 100px;
}

.product-body {
  padding-right: 10px;
}

.product:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
  background: rgba(108, 87, 78, 0.2);
  transition: .33s all ease;
  opacity: 0;
  visibility: hidden;
}

.product:hover:before {
  left: -15px;
  right: -15px;
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .product {
    min-height: 353px;
  }
}

/* Events List Styles Starts */
	.events-list li + li {
		margin-top: 20px;
		border-top: 1px dotted #a0a0a0;
	}
	.events-list h6 {
		margin-bottom: 15px;
	}
	.events-list .date {
		font-size: 18px;
	}
	.events-list a.more-link {
		color: #1e1e1e;
		text-decoration: none;
	}
	.events-list a.more-link:hover {
		color: #d26604;
		text-decoration: underline;
	}

  /* Testimony carousel */
  .testimonial-carousel {
    background: url("../../assets/quote-carousel-bg.jpg") fixed no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0 0 0 0;
    text-align: center;

  }
    #testimonial-carousel {
      margin-top: 30px;
    }
      #testimonial-carousel blockquote {
        padding: 0;
        border: none;
      }
        #testimonial-carousel .lead {
          color: #1e1e1e;
          font-size: 30px;
        }
        #testimonial-carousel p.lead:before,
        #testimonial-carousel p.lead:after {
          font-family: 'FontAwesome';
        }
        #testimonial-carousel p.lead:before {
          margin-right: 10px;
          content: "\f10d";
        }
        #testimonial-carousel p.lead:after {
          margin-left: 10px;
          content: "\f10e";
        }
        #testimonial-carousel h3 {
          font-weight: bold;
        }
      #testimonial-carousel .img-circle {
        margin-top: 10px;
        border: 3px solid #fff;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
      }
    #testimonial-carousel .carousel-indicators {
      margin-bottom: 1em;
    }
      #testimonial-carousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        background-color: #1e1e1e;
        border: none;
      }
      #testimonial-carousel .carousel-indicators li.active {
        margin: 1px;
        background-color: #d26604;
      }

      #test-item {
        height: 30vh;
        min-height: 150px;
      }


      /* ministry-section */
.ministry-section {
  padding: 5em 0 3em 0;
  text-align: center;
}
.mini {
  margin-bottom: 10px;
  margin-top: 10px;
}

.mini img {
  display: block;
  margin: 0 auto 2em auto;
  border-radius: 50%;
}

.mini h2 {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  margin-bottom: 1em;
  padding-top: 10px;
}

.mini a:hover {
  color:#000;
  text-decoration: none;
}



/* Donations */
/* .donations {
  background-image: url("../../assets/bible.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 100px;
  padding-top: 200px;
} */

#donations {
  padding: 5em 0 3em 0;
  text-align: center;

}


#donations h1 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 4em;
  margin-bottom: 1em;
  float: left;
}

#donations h2 em {
  font-family: 'Lato', sans-serif;
  color: white;
}

#donations h5 em {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}


#donations p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 1.4em;
  font-weight: bolder;
  margin-bottom: 1em;


}

#donations span {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 13px;
  border-radius: 0px;
  border: 0px;
  text-transform: uppercase;
  color: white;
  transition: color 0.5s ease;
}

#donations span:hover {
  color:#5F5305;
  background-color:#d4c777;
}

#donations a {
  text-decoration: none;
}

#donations a:hover {
  color:#000;
  text-decoration: none;
}
  .mydonate h2 {
    font-weight: 50px;
  }
/* parallax */
.paral {
  height: 50vh;
  /* min-height: 120px; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
}
/* Image for Parralax Section */
.paralministries {}
.paraldonate{
  background-image: url("../../assets/handshake.jpg");
}
.paralabout {}
.paralsermon{}
.paralevents{}


  /*
  Responsive css

  */
   /* //Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) {

    #test-item {
      height: 60vh;
    }
    .paral {
      height: 70vh;
      /* min-height: 120px; */
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      -webkit-background-size: cover;
    }
   }

  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {

    #test-item {
      height: 60vh;

    }

    .paral {
      height: 60vh;
      /* min-height: 120px; */
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      -webkit-background-size: cover;
    }
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
    #test-item {
      height: 40vh;
    }


     .lead {
      padding-left: 50px;
    }

    .paral {
      height: 70vh;
      /* min-height: 120px; */
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      -webkit-background-size: cover;
    }
  }

  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {
    #test-item {
      height: 40vh;
    }


    .paral {
      height: 50vh;
      /* min-height: 120px; */
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      -webkit-background-size: cover;
    }
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    #test-item {
      height: 40vh;
    }

   }
