<header >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
             <div class="image-header">

                 <img class="img-fluid rounded img-intro" src="../../assets/church-image.png" alt="">
                 <h1 class="display-3">A Warm Welcome!</h1>
              </div>
          </div>
        </div>
  </div>



</header>

<!-- About Section -->
<section class="about-section">
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title">
         <h1>Welcome to <span style="color:aqua">Title Church</span></h1>
         <p>Title Church is a religious institution, place of worship, or group of worshipers, usually Christian.</p>
      </div>
    </div> -->

    <!-- about block  -->
    <div class="about-block">

        <div class="row">
          <!-- block 1 -->
          <div class="col-lg-3 col-md-6 col-12 col-sm-12 col-xs-12 block">

            <a href="#" class="product hvr-grow">
                <div class="product-header">
                  <div class="unit unit-spacing-sm unit-horizontal">
                    <div class="unit-left">
                      <span class="icon-image">
                        <img src="../../assets/home-3-54x55.png" alt width="54" height="55">
                      </span>
                    </div>
                    <div class="unit-body">
                      <h4>new members</h4>
                    </div>
                  </div>
                </div>

                <div class="product-body">
                  <p>
                    We encourage our new members
                     to improve our church and its community by spreading the Word of God to other people who are doubting whether their faith is real or what power their prayer has.
                    We can help you find your true place in church life.

                  </p>
                </div>
              </a>
          </div>
           <!-- block 2 -->
           <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                <div class="product-header">
                  <div class="unit unit-spacing-sm unit-horizontal">
                    <div class="unit-left">
                      <span class="icon-image">
                        <img src="../../assets/home-6-54x55.png" alt width="54" height="55">
                      </span>
                    </div>
                    <div class="unit-body">
                      <h4>Small groups</h4>
                    </div>
                  </div>
                </div>

                <div class="product-body">

                      <p>Small groups are great for meeting  and caring for others. One of the central ways we grow as disciples of Jesus is by having intentional relationships with people who share the same goal, and our small groups are the ideal place for that.</p>



                </div>
              </a>

           </div>
            <!-- block 3 -->
          <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                  <div class="product-header">
                    <div class="unit unit-spacing-sm unit-horizontal">
                      <div class="unit-left">
                        <span class="icon-image">
                          <img src="../../assets/home-4-54x55.png" alt width="54" height="55">
                        </span>
                      </div>
                      <div class="unit-body">
                        <h4>church services</h4>
                      </div>
                    </div>
                  </div>

                  <div class="product-body">
                    <p>
                        Because we've been given so much,
                        we love giving back. Engaging in service leads to life change.
                        Whether you serve in  a ministry at Jesus Christian Church, or in the world,
                        God calls us to serve one another.


                    </p>
                  </div>
                </a>

          </div>
          <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                  <div class="product-header">
                    <div class="unit unit-spacing-sm unit-horizontal">
                      <div class="unit-left">
                        <span class="icon-image">
                          <img src="../../assets/icon-3.png" alt width="54" height="55">
                        </span>
                      </div>
                      <div class="unit-body">
                        <h4>Prayer Requests</h4>
                      </div>
                    </div>
                  </div>

                  <div class="product-body">
                    <p>
                      We encourage our new members
                       to improve our church and its community by spreading the Word of God to other people who are doubting whether their faith is real or what power their prayer has.
                      We can help you find your true place in church life.

                    </p>
                  </div>
                </a>



          </div>
        </div>
    </div>

  </div>
</section>

<section>
<div class="container" >
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <h2 >Contact Us</h2>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <ul style="list-style:none;">
              <li><h4>Phone</h4></li>
              <li><h4>Mail</h4></li>
              <li><h4>Facebook</h4></li>
              <li><h4>Twitter</h4></li>
            </ul>
          </div>
        </div>

</div>

</section>
