<header >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="card bg-dark text-white">
                  <img class="card-img" src="../../assets/church-image.png" alt="Card image">
                  <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text display-3">A Warm Welcome!</p>

                  </div>
                </div>
             <!-- <div class="image-header">

                 <img class="img-fluid rounded img-intro" src="../../assets/church-image.png" alt="">
                 <h1 class="display-3">A Warm Welcome!</h1>
              </div> -->
          </div>
        </div>
  </div>



</header>

<!-- About Section -->
<section class="about-section">
  <div class="container">
   <div class="row">
     <div class="col-lg-12 text-center">
       <p>Service Times Sunday 8.00 and 11.00 am, Sunday school at 9:30 am - <a href="#">get directions</a></p>
     </div>

   </div>

   <section>

          <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="../../assets/church-image.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title display-3">Events</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card">
                  <!-- style="height: 200px; width:291px;"  -->
                <img class="card-img-top"  src=".../../assets/church-image.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title display-3">Sermons</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>

    </section>

    <section>

        <div class="row">
          <div class="col-lg-12">
              <div class="card" style="margin: 30px 0px 30px 0px;">
                  <div class="card-body">
                   <h6>Donations</h6>
                  </div>
                </div>
          </div>
        </div>

    </section>


    <!-- about block  -->
    <div class="about-block">

        <div class="row">
          <!-- block 1 -->
          <div class="col-lg-3 col-md-6 col-12 col-sm-12 col-xs-12 block">

            <a href="#" class="product hvr-grow">
                <div class="product-header">
                  <div class="unit unit-spacing-sm unit-horizontal">
                    <div class="unit-left">
                      <span class="icon-image">
                        <img src="../../assets/home-3-54x55.png" alt width="54" height="55">
                      </span>
                    </div>
                    <div class="unit-body">
                      <h4>new members</h4>
                    </div>
                  </div>
                </div>

                <div class="product-body">
                  <p>
                    We encourage our new members
                     to improve our church and its community by spreading the Word of God to other people who are doubting whether their faith is real or what power their prayer has.
                    We can help you find your true place in church life.

                  </p>
                </div>
              </a>
          </div>
           <!-- block 2 -->
           <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                <div class="product-header">
                  <div class="unit unit-spacing-sm unit-horizontal">
                    <div class="unit-left">
                      <span class="icon-image">
                        <img src="../../assets/home-6-54x55.png" alt width="54" height="55">
                      </span>
                    </div>
                    <div class="unit-body">
                      <h4>Small groups</h4>
                    </div>
                  </div>
                </div>

                <div class="product-body">

                      <p>Small groups are great for meeting  and caring for others. One of the central ways we grow as disciples of Jesus is by having intentional relationships with people who share the same goal, and our small groups are the ideal place for that.</p>



                </div>
              </a>

           </div>
            <!-- block 3 -->
          <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                  <div class="product-header">
                    <div class="unit unit-spacing-sm unit-horizontal">
                      <div class="unit-left">
                        <span class="icon-image">
                          <img src="../../assets/home-4-54x55.png" alt width="54" height="55">
                        </span>
                      </div>
                      <div class="unit-body">
                        <h4>church services</h4>
                      </div>
                    </div>
                  </div>

                  <div class="product-body">
                    <p>
                        Because we've been given so much,
                        we love giving back. Engaging in service leads to life change.
                        Whether you serve in  a ministry at Jesus Christian Church, or in the world,
                        God calls us to serve one another.


                    </p>
                  </div>
                </a>

          </div>
          <div class="col-lg-3 col-md-6  col-12 col-sm-12 col-xs-12 block">
              <a href="#" class="product hvr-grow">
                  <div class="product-header">
                    <div class="unit unit-spacing-sm unit-horizontal">
                      <div class="unit-left">
                        <span class="icon-image">
                          <img src="../../assets/icon-3.png" alt width="54" height="55">
                        </span>
                      </div>
                      <div class="unit-body">
                        <h4>Prayer Requests</h4>
                      </div>
                    </div>
                  </div>

                  <div class="product-body">
                    <p>
                      We encourage our new members
                       to improve our church and its community by spreading the Word of God to other people who are doubting whether their faith is real or what power their prayer has.
                      We can help you find your true place in church life.

                    </p>
                  </div>
                </a>



          </div>
        </div>
    </div>

  </div>
</section>


<section>
<div class="container" >
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
          <h2 >Contact Us</h2>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-12" style="text-align: center;">
            <ul style="list-style:none;">
              <li><h4>Phone</h4></li>
              <li><h4>Mail</h4></li>
              <li><h4>Facebook</h4></li>
              <li><h4>Twitter</h4></li>
            </ul>
          </div>
        </div>

</div>

</section>
