/* header */
  .carousel-item {
      height: 65vh;
      min-height: 300px;
      background: no-repeat center center scroll;
      background-size: cover;
      align-items: center;
      width: 100%;
      transition-property: transform , -webkit-transform;
      transition-duration: 1s 1s;
      transition-timing-function: ease ease;
      transition-delay: initial initial;
      backface-visibility: hidden;
      perspective: 1000px;
  }

  .carousel-item active {
      display: block;
  }

  .carousel-inner {
      position: relative;
      width: 100%;
      overflow: hidden;
  }

  .header {
      margin: 3em 0;
      text-align: center;
  }
   .section-title {
       text-align: center;
       margin-bottom: 40px;
       padding-left: 50px;
       word-wrap: break-word;
   }

  .about-section {
      margin-bottom: 50px;
      padding-top: 40px;
  }
  #sermonsImg {
    padding-left: 130px;
  }

  .about-block {
      margin-bottom: 60px;
  }

  .about-section .block {
      text-align: center;
  }
  img {
      vertical-align: middle;
  }
  .about-section .block img {
      margin-bottom: 30px;
  }

  .divider-shape {
      margin-top: 30px;
      margin-bottom: 60px;
  }

  .sermons{
   margin-bottom: 100px;
  }
  .mb30 {
      margin-bottom: 30px;
  }

  #description {
      text-align: center;
      padding-left: 100px;


  }

.latest-message {
	margin-bottom: 100px;
}
.message-section {
  margin-bottom: 60px;
  text-align: center;
}

.outline-small {
    padding: 4px 14px;
    border: 2px solid #d6d3d2;
    background-color: #fff;
    color: #696362;
    text-transform: uppercase;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
    font-size: 14px;
}

a.btn.outline-btn.outline-btn-red {
  border: 2px solid #ab4f42;
  color: #ab4f42;
  margin-right: 10px;
}

a.btn.outline-btn.outline-btn-red {
  text-decoration: none;
}

.outline-btn-red {
  border: 2px solid #ab4f42;
  color: #ab4f42;
  margin-right: 10px;
}

.outline-btn {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}

*{
  box-sizing: border-box;

}

a.more-link {
  font-size: 16px;
  text-decoration: underline;
}

/* Events List Styles Starts */
	.events-list li + li {
		margin-top: 20px;
		border-top: 1px dotted #a0a0a0;
	}
	.events-list h6 {
		margin-bottom: 15px;
	}
	.events-list .date {
		font-size: 18px;
	}
	.events-list a.more-link {
		color: #1e1e1e;
		text-decoration: none;
	}
	.events-list a.more-link:hover {
		color: #d26604;
		text-decoration: underline;
	}

  /* Testimony carousel */
  .testimonial-carousel {
    padding: 30px 0 50px;
    background-image: url("../../assets/quote-carousel-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

  }
    #testimonial-carousel {
      margin-top: 30px;
    }
      #testimonial-carousel blockquote {
        padding: 0;
        border: none;
      }
        #testimonial-carousel .lead {
          color: #1e1e1e;
          font-size: 30px;
        }
        #testimonial-carousel p.lead:before,
        #testimonial-carousel p.lead:after {
          font-family: 'FontAwesome';
        }
        #testimonial-carousel p.lead:before {
          margin-right: 10px;
          content: "\f10d";
        }
        #testimonial-carousel p.lead:after {
          margin-left: 10px;
          content: "\f10e";
        }
        #testimonial-carousel h3 {
          font-weight: bold;
        }
      #testimonial-carousel .img-circle {
        margin-top: 10px;
        border: 3px solid #fff;
      }
    #testimonial-carousel .carousel-indicators {
      bottom: -40px;
    }
      #testimonial-carousel .carousel-indicators li {
        width: 14px;
        height: 14px;
        background-color: #1e1e1e;
        border: none;
      }
      #testimonial-carousel .carousel-indicators li.active {
        margin: 1px;
        background-color: #d26604;
      }

      /* ministry-section */
